{% extends "base.html" %}
{% block content %}
<h1>Shuttle Invaders Leaderboard</h1>
<div id="playerscores-container">
<p> Looks like nobody's submitted a score yet :(</p>
</div>

<script>
async function fetchScoresJSON() {
	let host = window.location.protocol !== 'https:' ? 'http://localhost:8000' : 'https://shuttlegame-leaderboard.shuttleapp.rs';

	const response = await fetch( host + "/scores");
	const data = response.json();
	return data;
}

fetchScoresJSON()
	.then(response => {
if (response.length > 0) {
	redrawScores(response);
	}
})

try {
const eventsource = new EventSource("//localhost:8000/ws");

eventsource.onmessage = (event) => {
  let event_data = JSON.parse(event.data);
  console.log("Received some data: ", event_data);
 if  (event_data.length > 0) {
	 redrawScores(event_data);
	}
};
} catch(e) {
	console.log(e.message)
}

function redrawScores(array) {
	let elems = array.map((x, i) => {
	let meme = document.createElement("div");
	meme.classList.toggle("playerscore-container");
	meme.innerText = (i + 1) + ". " + x.score + " - " + x.name;
	
	return meme
	});

let meme = document.querySelector("#playerscores-container");
meme.replaceChildren(...elems);
}

</script>
{% endblock content %}
