{% extends "base.html" %}
{% block content %}
<h1>Shuttle Invaders Leaderboard</h1>
<div id="playerscores-container">
<p> Looks like nobody's submitted a score yet :(</p>
</div>

<script>
try {
const websocket = new WebSocket("ws://localhost:8000/ws");

websocket.onmessage = (event) => {
  let event_data = JSON.parse(event.data);
  console.log("Received some data: ", event_data);
  redrawScores(event_data);
};
} catch(e) {
	console.log(e.message)
}

function redrawScores(array) {
	let elems = array.map((x, i) => {
	let meme = document.createElement("div");
	meme.classList.toggle("playerscore-container");
	meme.innerText = (i + 1) + ". " + x.score + " - " + x.name;
	
	return meme
	});

let meme = document.querySelector("#playerscores-container");
meme.replaceChildren(...elems);
}

</script>
{% endblock content %}
