{% extends "base.html" %}
{% block content %}
<div class="page-wrapper"> 
	<h1>Shuttle Invaders Leaderboard</h1>
	<div id="playerscores-container">

		{% for score in scores %}
		<div class="playerscore-container">
		{{loop.index + offset  }}. {{ score.score }} - {{ score.name }}
		</div>
		{% endfor %}
	</div> 
		<div class="pagination-container">
		Pages
		{% for page in range(end=pages) %}
			<a href="/?page={{page + 1}}">{{page + 1}}</a>
		{% endfor %}
		</div>	
		<h2> Information </h2>
	<p> Shuttle Invaders is a game where you get to play as a spaceship and shoot unwraps and errors away.</p>
	
	<p> Interested in getting to know us more? </p>
	<p><a href="https://www.github.com/shuttle-hq/shuttle" target="_blank">Give us a star on GitHub!</a></p>
	<p><a href="https://www.twitter.com/shuttle_dev" target="_blank"> Follow us on Twitter for updates on releases! </a></p>
	</div>
</div>

<script>
const host = window.location.protocol !== 'https:' ? 'http://localhost:8000' : 'https://shuttlegame-leaderboard.shuttleapp.rs';
const urlParams = new URLSearchParams(window.location.search);
const page = urlParams.get("page");
const offset = (page - 1) * 10;

try {
const eventsource = new EventSource(host + "/stream");

eventsource.onmessage = (event) => {
  const event_data = JSON.parse(event.data);
  console.log("Received some data: ", event_data);
 if  (event_data.length > 0) {
	const data = event_data.filter((x, i) => i >= offset && i < offset + 10);
	 redrawScores(data);
	}
};
} catch(e) {
	console.log(e.message)
}

function redrawScores(array) {
	let elems = array.map((x, i) => {
	let meme = document.createElement("div");
	meme.classList.toggle("playerscore-container");
	meme.innerText = (i + 1 + offset) + ". " + x.score + " - " + x.name;
	
	return meme
	});

let meme = document.querySelector("#playerscores-container");
meme.replaceChildren(...elems);
}
</script>
{% endblock content %}
